<form class=" bg-light p-3 rounded" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="name" class="form-label">name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
    </div>
    <div class="mb-3">
        <label for="eamil" class="form-label">Email</label>
        <input type="text" class="form-control" id="eamil" formControlName="email">
    </div>
    <div class="mb-3">
        <label for="technology" class="form-label ml-5">Technology</label>
        <input type="text" class="form-control" id="technology" formControlName="technology">
    </div>
    <div class="mb-3">
        <label for="salary" class="form-label ml-5">Salary</label>
        <input type="text" class="form-control" id="salary" formControlName="salary">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!toggle || reactiveForm.invalid">Submit</button>
</form>
<button type="submit" class="btn btn-primary" (click)="editData()">Edit</button>